body {
    font-family: Arial, sans-serif;
    margin-top: 20px;
    padding: 0;
    background-color: #f4f4f4;
}

.container {
    padding: 20px;
    text-align: center;
}

button {
    background: #ff8009;
    font-size: 15px;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background: #c96e00;
}

table {
    width: 80%;
    border-collapse: collapse;
    margin-top: 3%;
    margin-left: 10%;
    background: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

th, td {
    padding: 1%;
    border: 1px solid #ddd;
    text-align: left;
}

th {
    background: #007bff;
    color: white;
}

td {
    background: #f9f9f9;
}

input[type="text"],
input[type="email"] {
    padding: 10px;
    margin: 5px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 15px;
}
