body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    padding-top: 50px;
    text-align: center;
}

h2 {
    font-size: 28px !important;
    margin-bottom: 25px !important;
}

h4 {
    text-align: center;
}

.container {
    padding: 20px;
    background: white;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 60% !important;
    min-height: 100px;
}

#importHistoryHeader {
    margin-bottom: 25px;
}

#importModal,
#importDetailModal,
#importHistoryModal {
    top: 20%;
}

th,
td {
    padding: 10px;
    text-align: center !important;
}

th {
    background-color: #007bff;
    color: white;
}

button {
    background-color: #ff8009;
    padding: 6px 10px;
    font-size: 16px !important;
    color: white;
    border: none;
    border-radius: 5px !important;
    margin: 0 3px !important;
}

.view-history-btn {
    padding: 6px 10px !important;
    font-size: 15px !important;
}

button:hover {
    background-color: #c96e00;
}